@import url(./base.css);

header {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100px;
  background-color: var(--main-leaf);
  align-items: center;
  justify-content: center;
  z-index: 10;
  box-shadow: 0 2px 5px 0 rgb(0, 0, 0, 0.3);
}
nav {
  display: flex;
  width: 60%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

#main-logo {
  width: 140px;
}

.menu-space {
  display: flex;
}

.menu-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100px;
  padding: 10px 15px;
  margin: 5px;

  font-weight: 900;
  text-decoration: none;

  border: 3px solid var(--main-black);
  border-radius: 10px;
}
.light {
  background-color: var(--main-leaf);
  color: var(--main-black);
}
.dark {
  background-color: var(--main-black);
  color: var(--main-leaf);
}

.menu-icon {
  display: flex;
  padding: 10px;
  font-weight: 900;
  border-radius: 10px;
  border-width: 3px;
  border-color: var(--main-black);
  justify-content: end;
  align-items: center;
  text-decoration: none;
}
.menu-icon img {
  height: 40px;
}

.dropdown-menu a {
  font-weight: 700;
  color: var(--main-black);
  text-decoration: none;
}

/* 외않되 */
/* .dropdown-menu li {
  border: none;
  background-color: var(--main-black);
  border-radius: 10px;
}
.dropdown-menu a {
  font-weight: 600;
  color: white;
  text-decoration: none;
} */

.clickable:hover {
  box-shadow: 1px 5px 3px rgb(0, 0, 0, 0.3);
  transition: 0.1s;
}

.clickable-img:hover {
  filter: drop-shadow(1px 5px 3px rgb(0, 0, 0, 0.3));
  transition: 0.1s;
}
