* {
  margin: 0;
  padding: 0;
}

#red-text {
    color: #ff5a6e;
}

#title-text-separator {
  width: 5%;
  margin-top: 1%;
  border: solid 1px #ff5a6e;
}

.responsive-menu-link {
  color: black;
}


/* ----- General Header CSS ------ */

#header {
  position: fixed;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
  font-size: 19px;
  min-height: 100px;
}





/* Normal Header */

.active-header {
  background-color: white;
  color: black;
}

.menu-link {
  color: white;
}

.active-menu-links {
  color: black;
}

#normal-header {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: auto;
  font-size: 19px;
  min-height: 100px;
}

#header-img {
  width: 250px;
  margin-left: 15%;
}

#nav-bar {
}

#nav-bar ul {
  list-style: none;
  display: flex;
  flex-flow: row;
}

#nav-bar li {
  padding: 10px;
  margin: 12px;
}

#nav-bar ul, a {
  text-decoration: none;
}






/* Responsive Header */

#responsive-header {
  display: none;
}

#image-button-black {
  display: none;
  border: none;
}

#image-button-black:hover {
  cursor: pointer;
}

#image-button-black:focus {
  outline: 0;
}





/* ----- Hero Header CSS -----

Tags included:

1. hero-header - main container of the Hero

2. hero-content - the container of the title and description within the hero Section

3. hero-title - the title within the hero section

4. hero-text - the text within the hero section

5. hero-button - the button within the hero section

*/

#hero-header {
  /* width: 100vw; */
  height: 100vh;
  box-shadow: 3px 3px 2px #bebebe;

  /* hero-header flexbox */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Texy style */
  text-align: center;
  color: white;

  /* Background image */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('@/assets/img/slide/main.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#hero-title {
  font-size: 3.5em;
}

#hero-text {
  font-size: 1.3em;
  margin-top: 2%;
}

#hero-button {
  border: solid 2px white;
  background-color: inherit;
  color: white;
  margin-top: 6%;
  width: 25%;
  height: 55px;
  font-size: 15px;
  border-radius: 10px;
}

#hero-button:hover {
  cursor: pointer;
}








/* ----- Main Content CSS -----

Tags included:

1. features-container - the main container wrapping the "features" elements

2. features-description - container wrapping the title and the description

3. features-title - the main title of the Features

4. features-separator - the line that separates the title from the Description

5. features-text - the main describing the features and services

6. service-features - container wrapping all 4 services

7. feature - the common id applied to the container of all the 4 services

8. feature img - the styling of each image belonging to each feature

9. feature-title - the common id applied to the title of each feature

10. feature p - the styling of each paragraph belonging to each feature

11. feature-button - the common id applied to the button of each feature

12. feature-button:hover - the ":hover" styling of each button

*/

#features-container {
  box-shadow: 2px 2px 15px #bebebe;
  margin-top: 5%;
  padding: 2%;
}

#service-features {
  display: flex;
  flex-direction: row;
  /* Change flow-direction to "column" in the responsive design for the features to stack
  one on top of another. */
  justify-content: space-around;
  margin-top: 2%;
  padding-bottom: 3%;
}

#features-description {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  margin-top: 2%;
  padding: 1%;
  display: flex;
  width: 60%;
}

#features-description h1 {
  font-size: 45px;
}

#features-description p {
  padding: 1%;
  margin-top: 1%;
}

#feature {
  width: 20%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 1px #bebebe;
  box-shadow: 1px 2px 15px #bebebe;
}

#feature img {
  max-width: 30%;
  max-height: 30%;
  padding-top: 5%;
}

#feature-title {
  margin-top: 5%;
}

#feature p {
  width: 70%;
  margin-top: 5%;
}

#feature-button {
  border: none;
  margin-top: 30%;
  width: 12vh;
  height: 5vh;
  border-radius: 15px;
  background-color: #ff5a6e;
  color: white;
  font-size: 16px;
  margin-bottom: 20%;
}

#feature-button:hover {
  background-color: #ff7b8b;
  cursor: pointer;
}





/* ----- Product Presentation CSS -----

CSS for the section of the website that features each "product" available.

Tags included:

1. #presentation-container - the general container where everything is

2. #presentation-title-description - the container in which the title and the description are

3. #presentation-title - the main title of the section

4. #presentation-separator - the CSS for the separator between the main title and the description

5. #presentation-description - the main description of the section

6. #section-buttons - the div containing the main product buttons

7. .product-buttons - the general class used to style the buttons

8. .product-button:hover - the CSS that changes the style of a button when hoevered

9. .product-button:focus - the CSS that removes the outlife of the buttons when clicked

10. .product-button-active - the CSS for the class that is added with jQuery to buttons when sections appear/disappear

11. #section-content-container - the main container containing all the subsections

12. .product-content - a general class applying some CSS to each subsection container

13. #content-image - general id used to apply CSS to each image in the subsections

14. #content-image-container - general id used to apply CSS to each div containing the main image of each subsection

15. #content-title-text - general ID used to style the div containing each subsection's title and description

16. #content-title-text p - selector used to add a little distance between the paragraph and the title

17. .product-features-list - a general class used to style the feature list of each subsection

18. #first-feature-list - a unique ID used to stylize only the first container with that ID.

19. #product-feature-image - genral ID used to style the container of each product image1

20. #correct-icon - general id of all the images used to replace UL bulletpoints in the "list" with features of each product

21. #inside-features-title-text - general ID of the features of the products within each subsection

22. #content-button - general ID of each button inside each product subsection

23. #content-button:hover - general ID of the hover styling of each button inside the products subsection


*/

#presentation-container {
  display: flex;
  flex-flow: column;
}

#presentation-title-description {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: auto;
  text-align: center;
  margin-top: 5%;
  width: 60%;
}

#presentation-title-description h1 {
  font-size: 45px;
}

#presentation-title-description p {
  margin-top: 1%;
}

#section-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.product-button {
  border: none;
  border-radius: 10px;
  background-color: inherit;
  box-shadow: 1px 2px 15px #bebebe;
  padding: 15px;
  width: 10%;
  margin: 2%;
  font-size: 15px;
}

.product-button:hover {
  cursor: pointer;
}

.product-button:focus {
  outline: 0;
}

.product-button-active {
  background-color: #ff5a6e;
  color: white;
}




/* -- SUBSECTION CSS: Section Content CSS -- */

#section-content-container {
  margin: auto;
  width: 75%;
}

.product-content {
  display: flex;
  flex-flow: row;
  justify-content: center;
  padding: 2%;
}

#content-image {
  width: 100%;
  height: 100%;
  width: 70%;
  height: auto;
}

#content-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

#content-title-text {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  width: 50%;
  padding: 1%;
}

#content-title-text p {
  margin-top: 2%;
}

.product-features-list {
  display: flex;
  flex-flow: row;
  align-items: flex-start;
  margin-top: 5%;
}

#first-feature-list {
  margin-top: 0;
}

#product-feature-image {
  justify-content: flex-start;
  align-items: flex-start;
  width: 10%;
}

#correct-icon {
  width: 100%;
  height: 100%;
}

#inside-features-title-text {
  display: flex;
  flex-flow: column;
  margin-left: 2%;
}

#content-button {
  border: none;
  border-radius: 10px;
  background-color: #ff5a6e;
  box-shadow: 1px 2px 15px #bebebe;
  padding: 15px;
  width: 25%;
  margin-top: 6%;
  font-size: 16px;
  color: white;
}

#content-button:hover {
  cursor: pointer;
  background-color: #ff7b8b;
}










/* Newsletter Section CSS

Tags included:

1. #newsletter-container - main newsletter section container

2. #newsletter-title-description - container with the main title and description

3. #newsletter-title-description h1 - styling for the main title

4. #newsletter-input-container - container with the form and input elements

5. #email-form - the id given to the <form> tag

6. #email-form label - styling of the label before the <input> tag

7. #email-input - id of the <input> tag where the email will be written

8. #email-form button - styling of the "submit" button after the <input> tag

9. #email-form button:hover - styling for the hover state of the button

*/

#newsletter-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
}

#newsletter-title-description {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 60%;
}

#newsletter-title-description h1 {
  font-size: 45px;
}

#final-text {
  margin-bottom: 10px;
}
#final-button {
  border: none;
  border-radius: 10px;
  background-color: #ff5a6e;
  box-shadow: 1px 2px 15px #bebebe;
  font-size: 16px;
  color: white;
  margin-top: 5%;
  padding: 15px;
  width: 40%;
}

#final-button:hover {
  cursor: pointer;
  background-color: #ff7b8b;
}



#final-container {
  display: flex;
  flex-direction: column; /* 수직 방향 정렬 */
  justify-content: center; /* 수직 중앙 정렬 */
  align-items: center; /* 수평 중앙 정렬 */
}







/* @Media min-width: 480px */
@media only screen and (min-width : 200px) and (max-width : 860px) {

  /* General Elements */

  #title-text-separator {
    width: 15%;
    margin-top: 3%;
    margin-bottom: 3%;
    border: solid 1px #ff5a6e;
  }


  /* Navigation CSS */
  #header {
    background: white;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 80px;
    margin: auto;
  }


  #normal-header {
    display: none;
  }

  #responsive-header {
    display: flex;
    flex-flow: column;
    width: 100%;
    margin: auto;
  }

  #responsive-logo-button {
    display: flex;
    justify-content: space-between;
    padding: 1% 0 1% 0;
  }

  #responsive-nav-bar {
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  #responsive-nav-bar ul {
    list-style: none;
  }

  #responsive-nav-bar li {
    text-align: center;
    font-size: 23px;
    margin-top: 40%;
  }

  #responsive-first-item {
    margin-top: 0;
    padding: 0;
  }

  #header-img-black {
    margin-left: 5%;
    margin-top: 3%;
    width: 50%;
    height: auto;
  }

  #dropdown-button-black {
    display: block;
    width: 55%;
    height: auto;
    margin: 0;
    padding: 0;
  }


  #image-button-black {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    padding: 2%;
  }




  /* Hero CSS */

  #hero-header {
    width: auto;
    height: 120vh;

    /* hero-header flexbox */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    /* Texy style */
    text-align: center;
    color: white;

    /* Background image */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('@/assets/img/slide/main.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  #hero-title {
    font-size: 3.5em;
  }

  #hero-text {
    font-size: 1.3em;
    margin-top: 2%;
  }

  #hero-button {
    border: solid 2px white;
    background-color: inherit;
    color: white;
    margin-top: 6%;
    width: 25%;
    height: 55px;
    font-size: 15px;
    border-radius: 10px;
  }

  #hero-button:hover {
    cursor: pointer;
  }



  /* Service Features CSS */

  #service-features {
    display: flex;
    flex-direction: column;
    /* Change flow-direction to "column" in the responsive design for the features to stack
    one on top of another. */
    justify-content: space-around;
    align-items: center;
    margin-top: 2%;
  }

  #features-description {
    width: 90%;
  }

  #feature {
    width: 80%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1px #bebebe;
    box-shadow: 1px 2px 15px #bebebe;
    margin-top: 10%;
  }

  #feature-button {
    border: none;
    margin-top: 30%;
    width: 15vh;
    height: 5vh;
    border-radius: 15px;
    background-color: #ff5a6e;
    color: white;
    font-size: 16px;
    margin-bottom: 20%;
  }




  /* Presentation Section CSS */

  #presentation-container {
    margin-top: 5%;
  }

  #presentation-title-description {
    width: 90%;
  }

  #section-buttons {
    margin-top: 5%;
  }

  #section-content-container {
    margin: auto;
    width: 90%;
  }

  #section-content-container {
    margin-top: 7%;
  }

  .product-button {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 40%;
    padding: 15px;
  }

  .product-content {
    display: flex;
    flex-flow: column;
    padding: 2%;
  }

  #content-image {
    width: 100%;
    height: 100%;
  }

  #content-image-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  #content-title-text {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin: auto;
    margin-top: 5%;
  }

  #content-title-text h1 {
    margin: auto;
  }

  #centered-product-description {
    text-align: center;
  }

  #content-title-text p {
    margin-top: 5%;
  }

  #product-feature-image {
    justify-content: center;
    align-items: center;
    width: 20%;
  }

  .product-features-list {
    margin-top: 15%;
  }

  #first-feature-list {
    margin-top: 10%;
  }

  #content-button {
    margin: auto;
    margin-top: 10%;
    width: 35%;
  }




  



  /* Email Section CSS */

  #newsletter-container {
    margin-top: 10%;
  }

  #newsletter-title-description {
    width: 90%;
  }

  #email-form label {
    width: 90%;
    text-align: center;
  }

  #email {
    width: 80%;
  }
}



















@media only screen and (min-width : 860px) and (max-width : 1280px) {


    /* Navigation CSS */
    #header {
      background: white;
      position: fixed;
      display: flex;
      flex-wrap: wrap;
      flex-flow: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      min-height: 80px;
      margin: auto;
    }


    #normal-header {
      display: none;
    }

    #responsive-header {
      display: flex;
      flex-flow: column;
      width: 100%;
      margin: auto;
    }

    #responsive-logo-button {
      display: flex;
      justify-content: space-between;
      padding: 1% 0 1% 0;
    }

    #responsive-nav-bar {
      display: flex;
      flex-flow: column;
      align-items: center;
    }

    #responsive-nav-bar ul {
      list-style: none;
    }

    #responsive-nav-bar li {
      text-align: center;
      font-size: 23px;
      margin-top: 40%;
    }

    #responsive-first-item {
      margin-top: 0;
      padding: 0;
    }

    #header-img-black {
      margin-left: 5%;
      margin-top: 3%;
      width: 50%;
      height: auto;
    }

    #dropdown-button-black {
      display: block;
      width: 55%;
      height: auto;
      margin: 0;
      padding: 0;
    }


    #image-button-black {
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: inherit;
      padding: 2%;
    }


  /* Hero CSS */

  #hero-header {
    width: auto;
    height: 120vh;

    /* hero-header flexbox */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    /* Texy style */
    text-align: center;
    color: white;

    /* Background image */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('@/assets/img/slide/main.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  #hero-title {
    font-size: 3.5em;
  }

  #hero-text {
    font-size: 1.3em;
    margin-top: 2%;
  }

  #hero-button {
    border: solid 2px white;
    background-color: inherit;
    color: white;
    margin-top: 6%;
    width: 25%;
    height: 55px;
    font-size: 15px;
    border-radius: 10px;
  }

  #hero-button:hover {
    cursor: pointer;
  }



  /* Service Features CSS */

  #service-features {
    display: flex;
    flex-flow: row;
    /* Change flow-direction to "column" in the responsive design for the features to stack
    one on top of another. */
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 2%;
  }

  #features-description {
    width: 90%;
  }

  #feature {
    width: 30%;
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border: solid 1px #bebebe;
    box-shadow: 1px 2px 15px #bebebe;
    margin-top: 10%;
  }

  #feature-button {
    border: none;
    margin-top: 30%;
    width: 15vh;
    height: 5vh;
    border-radius: 15px;
    background-color: #ff5a6e;
    color: white;
    font-size: 16px;
    margin-bottom: 20%;
  }




  /* Presentation Section CSS */

  #presentation-container {
    margin-top: 5%;
    width: 80%;
    margin: auto;
  }

  #presentation-title-description {
    width: 90%;
  }

  #section-buttons {
    margin-top: 5%;
  }

  #section-content-container {
    margin: auto;
    width: 90%;
  }

  #section-content-container {
    margin-top: 7%;
  }

  .product-button {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 40%;
    padding: 15px;
  }

  .product-content {
    display: flex;
    flex-flow: column;
    padding: 2%;
  }

  #content-image {
    width: 100%;
    height: 100%;
  }

  #content-image-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  #content-title-text {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin: auto;
    margin-top: 5%;
  }

  #content-title-text h1 {
    margin: auto;
  }

  #centered-product-description {
    text-align: center;
  }

  #content-title-text p {
    margin-top: 5%;
  }

  #product-feature-image {
    justify-content: center;
    align-items: center;
    width: 8%;
  }

  .product-features-list {
    margin-top: 15%;
  }

  #first-feature-list {
    margin-top: 10%;
  }

  #content-button {
    margin: auto;
    margin-top: 10%;
    width: 35%;
  }



  /* Email Section CSS */

  #newsletter-container {
    margin-top: 10%;
  }

  #newsletter-title-description {
    width: 90%;
  }

  #email-form label {
    width: 90%;
    text-align: center;
  }

  #email {
    width: 80%;
  }

}
