.container {
  width: 60%;
  height: 100%;
}
.team-header {
  display: flex;
  justify-content: space-between;

  width: 100%;
}
.team-title {
  color: black;
  margin: 50px 100px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 60px;
}

.team-list {
  list-style: none;
  padding: 0;
  width: 100%;
  max-height: 550px;
  overflow-y: auto;
}
