.team {
  padding: 20px;
  margin-bottom: 20px;
  background-color: var(--main-leaf);
  border-radius: 15px;
}
.team * {
  color: var(--main-black);
}
.team-top,
.team-bottom {
  display: flex;
  justify-content: space-between;

  width: 100%;
  padding: 10px 0;
}
.team-top h1 {
  margin: 0;
  font-weight: 900;
}
.team-info {
  display: flex;
  align-items: center;
  justify-content: center;
}
.team-name {
  margin: 0;
  font-weight: 900;
}
.team-top a,
.team-bottom a {
  text-decoration: none;
}
.team-top img,
.team-bottom img {
  height: 25px;
  margin: 5px;
}

#chat,
.team-bottom img {
  opacity: 0.7;
}
#chat:hover,
.team-bottom img:hover {
  opacity: 1;
}

.team-list {
  list-style: none;
  margin: 20px 0;
  padding: 0;
  width: 100%;
  max-height: 550px;
  overflow-y: auto;
}

.horizontal-scroll {
  overflow-x: auto; /* 가로 스크롤 활성화 */
  white-space: nowrap; /* 내용을 한 줄로 표시 */
  width: 100%; /* 적절한 너비 설정 */
  display: flex; /* 내부 요소를 가로로 정렬 */
  flex-wrap: nowrap; /* 요소들이 줄바꿈되지 않도록 설정 */
}

.team-item {
  background-color: #72b85c;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.invite-link {
  text-decoration: none;
  color: white;
}

.member-list {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  background-color: #f0f0f0;
  /* 배경색 추가 */
  padding: 10px;
  margin: 0 50px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* 그림자 효과 추가 */
}

.team-info {
  color: white;
  text-align: center;
}

.plan-link {
  background-color: #007bff;
  color: white;
  padding: 5px 10px;
  font-size: 20px;
  text-decoration: none;
  border-radius: 15px;
  /* 버튼 모서리 둥글게 */
  margin: 0 20px;
}

.member-item {
  display: inline-flex; /* 내부 요소를 인라인 플렉스로 표시 */
  background-color: #41a788;
  color: white;
  padding: 10px;
  border-radius: 50%;
  /* 원형 모양 */
  width: 100px;
  /* 고정 너비 */
  height: 100px;
  /* 고정 높이 */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 30px;
  /* 글자 크기 조정 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 0 20px;
}

.member-info {
  color: white;
}
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  /* 절대 위치 */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 600px;
  /* 추가 스타일 */
  background-color: rgba(221, 217, 217, 0.9);
  z-index: 9;
  border-radius: 80px;
  border-style: dashed;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  /* 반투명 배경 */
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-button {
  position: absolute;
  top: 30px;
  /* 상단으로부터의 거리 */
  right: 30px;
  /* 오른쪽으로부터의 거리 */
}
